.banner_point {
  display: grid;
  gap: 15px;
  width: 350px;
  padding: 20px;
  margin: 20px 0;
  border : 1px solid var(--color-form8d);
  border-radius: 20px;
}

.point_info {
  display: flex;
  justify-content: space-between;
}