.btn-primary {
    display: inline-flex;
    padding: 10px 20px;
    border-radius: 20px;
    background: var(--button-primary);
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    text-transform: capitalize;
    border : none;
    cursor : pointer;
    text-decoration: none;
    &:hover {
        background: var(--button-sub);
    }
    &:active {
        border: 1px solid var(--gray1);
        background: var(--button-sub);
    }
    &:disabled {
        cursor: not-allowed;
        background: var(--gray2);
        color: var(--button-text-1);
    }
    &[aria-disabled="true"] {
        cursor: not-allowed;
        background: var(--gray2);
        color: var(--button-text-1);
      }
}


