button {
  cursor: pointer;
}
.btn-arrow {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid var(--button-color3, #dcdcdc);
  background: url(../images/ico_arrow.svg) no-repeat center var(--gray-gray-0, #fff);
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.btn-cart {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid var(--button-color3, #dcdcdc);
  background: url(../images/cart.svg) no-repeat center var(--gray-gray-0, #fff);
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.btn-chatting {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid var(--button-color3, #dcdcdc);
  background: url(../images/chatting.svg) no-repeat center var(--gray-gray-0, #fff);
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.btn-bell {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid var(--button-color3, #dcdcdc);
  background: url(../images/bell.svg) no-repeat center var(--gray-gray-0, #fff);
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.btn-primary {
  display: inline-flex;
  padding: 10px 20px;
  border-radius: 20px;
  background: var(--button-primary);
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
  text-transform: capitalize;
  border: none;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    background: var(--button-sub);
  }
  &:active {
    border: 1px solid var(--gray1);
    background: var(--button-sub);
  }
  &:disabled {
    cursor: not-allowed;
    background: var(--gray2);
    color: var(--button-text-1);
  }
  &[aria-disabled="true"] {
    cursor: not-allowed;
    background: var(--gray2);
    color: var(--button-text-1);
  }
}
.btn-floating {
  display: inline-flex;
  padding: 10px 20px;
  border-radius: 20px;
  background: var(--button-);
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #1d1d1d;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
  text-transform: capitalize;
  border: 1px solid var(--button-primary);
  cursor: pointer;
  text-decoration: none;
  &:hover {
    background: var(--button-sub);
  }
  &:active {
    border: 1px solid var(--gray1);
    background: var(--button-sub);
  }
  &:disabled {
    cursor: not-allowed;
    background: var(--gray2);
    color: var(--button-text-1);
  }
  &[aria-disabled="true"] {
    cursor: not-allowed;
    background: var(--gray2);
    color: var(--button-text-1);
  }
}
