:root {
  --checkoffImage: url(../images/ico_check_off.svg);
  --checkonImage: url(../images/ico_check_on.svg);
  --checkfontSize: 15px;
  --checkbeforeColor: var(--main-text);
  --checkafterColor: var(--main-text);
  --checkboxPl: 20px;
  --checkHeight: 24px;
}
.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  + label {
    display: inline-flex;
    padding-left: var(--checkboxPl);
    background: var(--checkoffImage) no-repeat left;
    font-size: var(--fontSize);
    color: var(--checkbeforeColor);
    height: var(--checkHeight);
  }
  &:checked {
    + label {
      color: var(--checkafterColor);
      background: var(--checkonImage) no-repeat left;
    }
  }
}
