.chip {
  --borderOnColor: red;
  --borderOffColor: #000;
  --fontOnColor: #fff;
  --fontOffColor: #000;
  --bgOnColor: #000;
  --bgOffColor: #fff;
  --px: 10px;
  --py: 4px;
  --fontSize: 16px;
  --rounded: 100px;
  --gap: 5px;

  display: flex;
  align-items: center;
  gap: var(--gap);

  input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    &:checked {
      + label {
        border-color: var(--borderOnColor);
        background-color: var(--bgOnColor);
        color: var(--fontOnColor);
      }
    }
  }
  label {
    padding: var(--py) var(--px);
    border: 1px solid var(--borderOffColor);
    background-color: var(--bgOffColor);
    border-radius: var(--rounded);
    font-size: var(--fontSize);
    color: var(--fontOffColor);
  }
}

.chip-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.chip1 {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  border: 1px solid var(--color-formdc);
  border-radius: 20px;
  font-size: var(--text-sm-font-size);
  color: var(--color-form55);
  background-color: var(--color-formff);
  cursor: pointer;
  transition: all 0.3s ease;
}

.chip1:hover {
  background-color: var(--color-formsecondary);
}
