.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* grid-template-rows: 1fr 1fr 1fr; */
  border: 1px solid blue;
  padding: 5px;
  li {
    border: 1px solid tomato;
    padding: 5px;
  }
}
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.example1 {
  display: flex;
  border: 1px solid seagreen;
  padding: 5px;
  div {
    border: 1px solid salmon;
    padding: 5px;
  }
}
.example2 {
  display: grid;
  grid-template-columns: min-content min-content 1fr;
  border: 1px solid seagreen;
  padding: 5px;
  div {
    white-space: nowrap;
    border: 1px solid salmon;
    padding: 5px;
  }
  .item3 {
    text-align: right;
  }
}
.example3 {
  display: flex;
  border: 1px solid seagreen;
  padding: 5px;
  div {
    border: 1px solid salmon;
    padding: 5px;
  }
  .item1 {
    width: 50px;
  }
  .item2 {
    flex: 1;
  }
}
.example4 {
  display: grid;
  grid-template-columns: 50px 1fr;
  border: 1px solid seagreen;
  padding: 5px;
  div {
    border: 1px solid salmon;
    padding: 5px;
  }
}
.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 100px 100px;
  border: 1px solid blue;
  padding: 5px;
  li {
    border: 1px solid tomato;
    padding: 5px;
  }
  .item1 {
    /* justify -수평정렬
    align-수직정렬렬
    self가 포함되면 cell 정렬 */
    justify-self: stretch;
    align-self: stretch;
  }
}
.grid3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid forestgreen;
  padding: 5px;
  li {
    border: 1px solid coral;
    padding: 5px;
  }
  .item1 {
    justify-self: start;
  }
  .item2 {
    justify-self: end;
  }
  .item3 {
    grid-column: 1 / 3;
  }
}

/* 
열병합
grid-column

행병합
grid-row 
*/

.Product-list {
  display: grid;
  grid-template-columns: 60px 1fr 24px;
  border: 1px solid blue;
  .thumbnail {
    grid-row: 1 / 3;
    background-color: #cdcdcd;
  }
  .like {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    background-color: #ffcece;
    align-self: end;
  }
}

.feed {
  display: grid;
  grid-template-columns: min-content min-content 1fr;
  border: 1px solid blue;
  .profile {
    white-space: nowrap;
    background-color: #cdcdcd;
  }
  .nickname {
    white-space: nowrap;
    background-color: #ffcece;
  }
  .Follow {
    background-color: #ffcece;
    justify-self: end;
  }
  .feedthumbnail {
    grid-column: 1 / 4;
    background-color: #e7ffb0;
  }
}
