.h_type1 {
    color: #2D3035;
    font-size: 20px;
    font-weight: 700;
    line-height: 23.68px;
    letter-spacing: -0.2px;
}

.h_type2 {
    color: #2D3035;
    font-size: 18px;
    font-weight: 700;
    line-height: 23.68px;
    letter-spacing: -0.2px;
}

.h_type3 {
    color: #2D3035;
    font-size: 16px;
    font-weight: 700;
    line-height: 23.68px;
    letter-spacing: -0.2px;
}

.h_type4 {
    color: #2D3035;
    font-size: 14px;
    font-weight: 700;
    line-height: 23.68px;
    letter-spacing: -0.2px;
}
