:root {
  --width: 48px;
  --height: 24px;
  --padding: 2px;
  --offColor: #fff;
  --offBgColor: var(--gray2);
  --onColor: #fff;
  --onBgColor: var(--button-primary);
  --textColor: var(--color-main-text);
}

.input-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.input-enabled {
  display: flex;
  padding: 1px 14px;
  align-items: center;
  align-items: flex-start;
  gap: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  border: 1px solid var(--color-button-text3);
  cursor: pointer;
  width: 100%;
  border-radius: 16px;
}

.input-focus {
  display: flex;
  padding: 1px 14px;
  align-items: center;
  gap: 10px;
  color: var(--gray4);
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  border: 1px solid var(--color-button-text3);
  border-color: var(--color-button-color4);
  cursor: pointer;
  width: 100%;
  border-radius: 16px;
}

.input-disabled {
  display: flex;
  padding: 1px 14px;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  color: var(--gray-4);
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  border-radius: 16px;
  width: 100%;
  &:disabled {
    color: var(--button-text-1);
    cursor: not-allowed;
  }
}

.input-button {
  position: absolute;
  right: 10px;
  top: 14px;
  height: 100%;
  width: 40px;
  background: none;
  border: none;
  cursor: pointer;
}

.switch {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  + label {
    position: relative;
    z-index: 10;
    display: flex;
    border-radius: var(--width);
    width: var(--width);
    height: var(--height);
    padding: var(--padding) calc(var(--padding) * 4);
    border: 1px solid var(--borderColor);
    align-items: center;
    justify-content: end;
    transition: 0.4s;
    background-color: var(--offBgColor);
    box-sizing: border-box;
    &::before {
      --left: var(--padding);
      --cricle: calc(var(--height) - (var(--left) * 3));

      content: "";
      position: absolute;
      left: var(--left);
      top: 50%;
      translate: 0 -50%;
      width: var(--cricle);
      height: var(--cricle);
      border-radius: 100%;
      background-color: var(--offColor);
      transition: 0.4s;
    }
    &::after {
      content: attr(data-off);
      text-align: center;
      white-space: nowrap;
      line-height: 1;
      transition: 0.4s;
      color: var(--textColor);
    }
  }
  &:checked {
    + label {
      background-color: var(--onBgColor);
      justify-content: start;

      &::before {
        left: 100%;
        translate: calc(-100% - 2px) -50%;
        background-color: var(--onColor);
      }
      &::after {
        content: attr(data-on);
      }
    }
  }
}

.search-box {
  display: flex;
  height: 44px;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 40px);
  font-style: var(--text-base-font-size);
  border: 1px solid var(--color-formc3);
  border-radius: 20px;
  padding: 20px 10px;
  background-color: var(--color-formff);
}
