.input-enabled {
  display: flex;
  padding: 1px 14px;
  align-items: center;
  align-items: flex-start;
  gap: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  border-radius: 0.5rem;
  border: 3px solid var(--gray3);
  cursor: pointer;
}

.input-focus {
  display: flex;
  padding: 1px 14px;
  align-items: center;
  gap: 10px;
  color: var(--gray4);
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  border-radius: 0.5rem;
  border: 3px solid var(--gray3);
  border-color: var(--gray4);
  cursor: pointer;
}

.input-disabled {
  display: flex;
  padding: 1px 14px;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  color: var(--gray4);
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  border-radius: 0.5rem;
  &:disabled {
    color: var(--button-text-1);
    cursor: not-allowed;
  }
}
