.header-ico-text {
  display: flex;
  align-items: center;
  gap: 10px;
  .text-base {
    white-space: nowrap;
  }
}

.header-divider {
    color: var(--color-formdc);
}

.txt-col-2 {
  display: flex;
  justify-content: space-between;
}

.sample-list-check {
  display: grid;
  grid-template-columns: auto auto 1fr;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--color-formdc);
  border-radius: 20px;
  padding: 20px;
  .text-base {
    white-space: nowrap;
  }
  .text-sm {
    white-space: nowrap;
  }
}

.child:last-child {
  justify-self: end;
}
