/* 가이드 페이지 레이아웃 */
.guide_body {
  display: grid;
  grid-template-columns: min-content 1fr;
}

.title-page {
  height: 100vh;
}

.title {
  display: flex;
  padding-bottom: 10px;
}

.title-ico {
  padding-right: 10px;
}

.title-text {
  font-size: 26px;
}

.title-divider {
  border: none;
  border-top: 1px solid var(--color-formdf);
}

/* 가이드 상세 내용 영역 */

/* .guide-contents {
  padding-bottom: 40px;
} */

/* .guide-sub-title {
    font-size: 16px;
    padding-bottom: 10px;
  } */

.color-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.color-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  height: 110px;
  padding: 20px;
  font-size: 14px;
}

.color-name {
  padding-bottom: 5px;
}

.has-border {
  border: 1px solid var(--color-formdf);
}


/* 버튼 상태별 ui에 사용됨*/
.guide_td10 {
    padding: 10px;    
}

.guide_td20 {
    padding: 20px;    
}

.guide_td20-left {
    padding: 20px 20px 20px 0;    
}
.guide_td20 {
    padding: 20px;    
}

.td-titile {
    width: 120px;
}

.td-pl20 {
    padding-top: 20px;
}

.td-pt20 {
    padding-top: 20px;
}

.td-pb20 {
    padding-top: 20px;
}