/* Figma Styles of your File */
:root {
  /* Colors */
  --main-text: #1d1d1d;
  --sub-text1: #555555;
  --sub-text2: #d9d9d9;
  --point-text: #ff4081;
  --button-text-1: #1d1d1d;
  --button-text2: #555555;
  --button-color: #ff4081;
  --button-color2: #ffe5ee;
  --button-color3: #dcdcdc;
  --button-color4: #f3f3f3;
  --gray1: #f3f3f3;
  --gray2: #dcdcdc;
  --gray3: #c3c4c8;
  --gray4: #8d8d8d;
  --select: #8d8d8d;
  --formff: #ffffff;
  --formf3: #f3f3f3;
  --form55: #555555;
  --status-infomation: #067dfd;
  --status-warning: #ffb724;
  --status-success: #00c400;
  --status-danger: #ef2b2a;

  /* Fonts */
  --text-xxs-font-family: NotoSansKr-Regular, sans-serif;
  --text-xxs-font-size: 10px;
  --text-xxs-line-height: normal;
  --text-xxs-font-weight: 400;
  --text-xxs-font-style: normal;
  --text-xs-font-family: NotoSansKr-Regular, sans-serif;
  --text-xs-font-size: 12px;
  --text-xs-line-height: normal;
  --text-xs-font-weight: 400;
  --text-xs-font-style: normal;
  --text-sm-font-family: NotoSansKr-Regular, sans-serif;
  --text-sm-font-size: 14px;
  --text-sm-line-height: normal;
  --text-sm-font-weight: 400;
  --text-sm-font-style: normal;
  --text-base-font-family: NotoSansKr-Regular, sans-serif;
  --text-base-font-size: 16px;
  --text-base-line-height: normal;
  --text-base-font-weight: 400;
  --text-base-font-style: normal;
  --h1-font-family: NotoSansKr-Bold, sans-serif;
  --h1-font-size: 20px;
  --h1-line-height: 23.68px;
  --h1-font-weight: 700;
  --h1-font-style: normal;
  --h2-font-family: NotoSansKr-Bold, sans-serif;
  --h2-font-size: 18px;
  --h2-line-height: 23.68px;
  --h2-font-weight: 700;
  --h2-font-style: normal;
  --h3-font-family: NotoSansKr-Bold, sans-serif;
  --h3-font-size: 16px;
  --h3-line-height: 23.68px;
  --h3-font-weight: 700;
  --h3-font-style: normal;
  --h4-font-family: NotoSansKr-Bold, sans-serif;
  --h4-font-size: 14px;
  --h4-line-height: 23.68px;
  --h4-font-weight: 700;
  --h4-font-style: normal;

  /* Effects */
}
