:root {
    /* 텍스트 */
    --main-text: #1d1d1d;
    --sub-text1: #555555;
    --sub-text2: #d9d9d9;
    --point-text: #ff4081;

    /* 버튼 */
    --button-txt-black: #1d1d1d;
    --button-txt-gray: #555555;
    --button-txt-white: #ffffff;
    --button-primary: #ff4081;
    --button-sub: #ffe5ee;
    --button-gray1: #dcdcdc;
    --button-gray2: #f3f3f3;
    /* 서식 */
    
    /* 선색 */
    --gray1: #f3f3f3;
    --gray2: #dcdcdc;
    --gray3: #c3c4c8;
    --gray4: #8d8d8d;
}
