.text-base {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.72px;
    letter-spacing: -0.2px;
}

.text-sm {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    line-height: 20.72px;
    letter-spacing: -0.2px;
}

.text-xs {
    color: #000;
    font-size: 12px;
    font-weight: 400;
    line-height: 20.72px;
    letter-spacing: -0.2px;
}

.text-xxs {
    color: #000;
    font-size: 10px;
    font-weight: 400;
    line-height: 20.72px;
    letter-spacing: -0.2px;
}